.contenido-footer {
    font-size: 15px;
    background-color: #0E0E0E;
    font-family: "Montserrat", sans-serif;
    color: rgb(255, 253, 253);
    text-align: center; 
  }
  .contenido-footer-redes {
    width: 65px;
    padding: 3px;
  }
  
  .contenido-footer-pago {
    width: 80px;
    padding: 3px;
  }
  
  .creditos:hover {
    text-decoration: none;
    color: rgb(255, 253, 253);
  }